name: CI

on: 
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.x'
    - name: Install Asciidoctor
      run: |
        gem install asciidoctor
        gem install asciidoctor-pdf --pre
    - name: Build
      run: |
        ./build.sh
    - name: Convert with Pandoc
      uses: docker://pandoc/latex:2.9
      with:
        args: "--from docbook --to docx -s ./dist/index.xml -o ./dist/index.docx"
    - name: Deploy
      uses: crazy-max/ghaction-github-pages@v1
      with:
        target_branch: gh-pages
        build_dir: dist
      env:
        GITHUB_PAT: ${{ secrets.GITHUB_PAT }}

      
